<div class="container">

  <form #form="ngForm" (ngSubmit)="onSignUp(form.value)" class="well">
    <div class="form-group">
      <label>User Name</label>
      <input type="text" class="form-control" required name="userName" ngModel>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="text" class="form-control" required name="password" ngModel>
    </div>
    <div class="form-group">
      <label>Full Name</label>
      <input type="text" class="form-control" required name="fullName" ngModel>
    </div>
    <div class="form-group">
      <label>Country</label>
      <input type="text" class="form-control" required name="country" ngModel>
    </div>
    <div class="form-group">
      <input type="hidden" class="form-control" required name="enabled" ngModel>
    </div>
    <button type="submit" class="btn btn-success">Sign Up</button>
  </form>

</div>
