<hr style="background-color: green" />
<hr style="background-color: green" />

<div class="row">
  <div class="col-sm-9">

    <div *ngIf="!hideNewGenericObject">
      <h2>New Officer</h2>
      <form #form="ngForm" (ngSubmit)="onSubmitNewGenericObject(form.value)" class="well">
        <div class="form-group">
          <label>Officer Name</label>
          <input type="text" class="form-control" required name="facilitiesOfficersName" ngModel>
        </div>
        <div class="form-group">
          <label>Officer Description</label>
          <input type="text" class="form-control" required name="facilitiesOfficersInfo" ngModel>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
      </form>

    </div>

    <app-officers-details *ngIf="selectedGenericObject"
                       (updatedGenericObjectEvent)="onUpdateGenericObjectEvent($event)"
                       (deletedGenericObjectEvent)="onDeleteGenericObjectEvent($event)"
                       [officers]="selectedGenericObject"></app-officers-details>
  </div>
  <div class="col-sm-3">
    <button type="button" (click)="onCreateGenericObjectEvent()" class="btn btn-primary"> + New Officers</button>
    <app-officers-list (selectedGenericObject)="onSelectGenericObjectEvent($event)" [officers]="officers"></app-officers-list>
  </div>
</div>
