<hr style="background-color: green" />
<hr style="background-color: green" />

<div class="row">
  <div class="col-sm-9">

    <div *ngIf="!hideNewGenericObject">
      <h2>New Admission Helpline</h2>
      <form #form="ngForm" (ngSubmit)="onSubmitNewGenericObject(form.value)" class="well">
        <div class="form-group">
          <label>Admission Helpline Information</label>
          <input type="text" class="form-control" required name="facilitiesAdmissionHelplineInformation" ngModel>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
      </form>

    </div>

    <app-admission-helpline-details *ngIf="selectedGenericObject"
                       (updatedGenericObjectEvent)="onUpdateGenericObjectEvent($event)"
                       (deletedGenericObjectEvent)="onDeleteGenericObjectEvent($event)"
                       [admissionHelpline]="selectedGenericObject"></app-admission-helpline-details>
  </div>
  <div class="col-sm-3">
    <button type="button" (click)="onCreateGenericObjectEvent()" class="btn btn-primary"> + New Admission Helpline</button>
    <app-admission-helpline-list (selectedGenericObject)="onSelectGenericObjectEvent($event)" [admissionHelpline]="admissionHelpline"></app-admission-helpline-list>
  </div>
</div>
