
<div *ngIf="!isEditMode">

  <div class="panel panel-default">
    <div class="panel-heading">{{facility.facilitiesName}}</div>
    <div class="panel-body">{{facility.facilitiesInfo}}</div>
  </div>
  <button type="button" (click)="onEditFacility()" class="btn btn-primary btn-block">Edit</button>
</div>

<div *ngIf="isEditMode">
  <form>
    <div class="form-group">
      <input type="input" class="form-control" name="url" required placeholder="url"
             [(ngModel)]="facility.facilitiesName">
    </div>
    <div class="form-group">
      <textarea class="form-control" rows="5" name="desc" [(ngModel)]="facility.facilitiesInfo"></textarea>
    </div>
  </form>

  <button type="button" (click)="onUpdateFacility()" class="btn btn-primary">Update</button>
  <button type="button" (click)="onDeleteFacility()" class="btn btn-danger">Delete</button>

</div>
