<hr style="background-color: green" />
<hr style="background-color: green" />

<div class="row">
  <div class="col-sm-9">

    <div *ngIf="!hideNewGenericObject">
      <h2>New Medicine</h2>
      <form #form="ngForm" (ngSubmit)="onSubmitNewGenericObject(form.value)" class="well">
        <div class="form-group">
          <label>Medicine Name</label>
          <input type="text" class="form-control" required name="facilitiesMedicineName" ngModel>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
      </form>

    </div>

    <app-medicine-details *ngIf="selectedGenericObject"
                       (updatedGenericObjectEvent)="onUpdateGenericObjectEvent($event)"
                       (deletedGenericObjectEvent)="onDeleteGenericObjectEvent($event)"
                       [medicine]="selectedGenericObject"></app-medicine-details>
  </div>
  <div class="col-sm-3">
    <button type="button" (click)="onCreateGenericObjectEvent()" class="btn btn-primary"> + New Medicine</button>
    <app-medicine-list (selectedGenericObject)="onSelectGenericObjectEvent($event)" [medicine]="medicine"></app-medicine-list>
  </div>
</div>
