<div class="row">

  <div *ngIf="!selectedFacility" class="col-sm-3"></div>
  <div *ngIf="selectedFacility" class="col-sm-3">
    <div class="btn-group-vertical">
      <button (click)="onDirectorsVisibility()" type="button" class="btn btn-primary">Directors</button>
      <button (click)="onEventsVisibility()" type="button" class="btn btn-primary">Events</button>
      <button (click)="onFacilityServiceVisibility()" type="button" class="btn btn-primary">Service</button>
      <button (click)="onFieldsVisibility()" type="button" class="btn btn-primary">Fields</button>
      <button (click)="onOfficersVisibility()" type="button" class="btn btn-primary">Officers</button>
      <button (click)="onSchedulingsVisibility()" type="button" class="btn btn-primary">Schedulings</button>
      <button (click)="onStuffsVisibility()" type="button" class="btn btn-primary">Stuffs</button>
      <button (click)="onTasksVisibility()" type="button" class="btn btn-primary">Tasks</button>

      <button *ngIf="isIctCenterFacility" (click)="onAdmissionHelplineVisibility()" type="button" class="btn btn-primary">Admission</button>
      <button *ngIf="isIctCenterFacility" (click)="onCoursesVisibility()" type="button" class="btn btn-primary">Courses</button>
      <button *ngIf="isIctCenterFacility" (click)="onIpProvidesConsumerVisibility()" type="button" class="btn btn-primary">IP</button>
      <button *ngIf="isIctCenterFacility" (click)="onNetConnectionsLocationVisibility()" type="button" class="btn btn-primary">Net Locations</button>

      <button *ngIf="isMedicalCenterFacility" (click)="onAmbulanceServiceVisibility()" type="button" class="btn btn-primary">Ambulacnce Service</button>
      <button *ngIf="isMedicalCenterFacility" (click)="onEmergencyContactsVisibility()" type="button" class="btn btn-primary">Emergency Contacts</button>
      <button *ngIf="isMedicalCenterFacility" (click)="onMedicineVisibility()" type="button" class="btn btn-primary">Medicine</button>
      <button *ngIf="isMedicalCenterFacility" (click)="onSpecialistVisibility()" type="button" class="btn btn-primary">Specialist</button>

      <button *ngIf="isTransportationSystemCenterFacility" (click)="onTransportationInfoVisibility()" type="button" class="btn btn-primary">Transportation System</button>

    </div>
  </div>

  <div class="col-sm-6">

    <div *ngIf="!hideNewFacility">
      <h2>New Facility</h2>
      <form #form="ngForm" (ngSubmit)="onSubmitNewFacility(form.value)" class="well">
        <div class="form-group">
          <label>Facility Name</label>
          <input type="text" class="form-control" required name="facilitiesName" ngModel>
        </div>
        <div class="form-group">
          <label>Facility Description</label>
          <input type="text" class="form-control" required name="facilitiesInfo" ngModel>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
      </form>

    </div>

    <app-facilities-details *ngIf="selectedFacility"
                            (updatedFacilityEvent)="onUpdateFacilityEvent($event)"
                            (deletedFacilityEvent)="onDeleteFacilityEvent($event)"
                            [facility]="selectedFacility"></app-facilities-details>
  </div>
  <div class="col-sm-3">
    <button type="button" (click)="onCreateFacility()" class="btn btn-primary"> + New Facility</button>
    <app-facilities-list (selectedFacility)="onSelectFacility($event)" [facilities]="facilities"></app-facilities-list>
  </div>
</div>

<div *ngIf="visibilityStatusDirectors" class="row">
  <app-directors-center *ngIf="selectedFacility"
                        [facility]="selectedFacility" [directors]="directors"></app-directors-center>
</div>

<div *ngIf="visibilityStatusFacilityService" class="row">
  <app-facility-service-center *ngIf="selectedFacility"
                        [facility]="selectedFacility" [facilityServices]="facilityServices"></app-facility-service-center>
</div>

<div *ngIf="visibilityStatusEvents" class="row">
  <app-events-center *ngIf="selectedFacility"
                               [facility]="selectedFacility" [events]="events"></app-events-center>
</div>

<div *ngIf="visibilityStatusFields" class="row">
  <app-fields-center *ngIf="selectedFacility"
               [facility]="selectedFacility" [fields]="fields"></app-fields-center>
</div>

<div *ngIf="visibilityStatusOfficers" class="row">
  <app-officers-center *ngIf="selectedFacility"
               [facility]="selectedFacility" [officers]="officers"></app-officers-center>
</div>

<div *ngIf="visibilityStatusSchedulings" class="row">
  <app-schedulings-center *ngIf="selectedFacility"
               [facility]="selectedFacility" [schedulings]="schedulings"></app-schedulings-center>
</div>

<div *ngIf="visibilityStatusStuffs" class="row">
  <app-stuffs-center *ngIf="selectedFacility"
               [facility]="selectedFacility" [stuffs]="stuffs"></app-stuffs-center>
</div>

<div *ngIf="visibilityStatusTasks" class="row">
  <app-tasks-center *ngIf="selectedFacility"
               [facility]="selectedFacility" [tasks]="tasks"></app-tasks-center>
</div>

<div *ngIf="visibilityStatusAdmissionHelpline" class="row">
  <app-tasks-center *ngIf="selectedFacility"
                    [facility]="selectedFacility" [tasks]="tasks"></app-tasks-center>
</div>

<!--
  specific generic info for ict center
-->

<div *ngIf="visibilityStatusAdmissionHelpline" class="row">
  <app-admission-helpline-center *ngIf="selectedFacility"
                    [facility]="selectedFacility" [admissionHelpline]="admissionHelpline"></app-admission-helpline-center>
</div>

<div *ngIf="visibilityStatusCourses" class="row">
  <app-courses-center *ngIf="selectedFacility"
                    [facility]="selectedFacility" [courses]="courses"></app-courses-center>
</div>

<div *ngIf="visibilityStatusIpProvidesConsumer" class="row">
  <app-ip-provides-consumer-center *ngIf="selectedFacility"
                    [facility]="selectedFacility" [ipProvidesConsumer]="ipProvidesConsumer"></app-ip-provides-consumer-center>
</div>

<div *ngIf="visibilityStatusNetConnectionsLocation" class="row">
  <app-net-connections-location-center *ngIf="selectedFacility"
                    [facility]="selectedFacility" [netConnectionsLocation]="netConnectionsLocation"></app-net-connections-location-center>
</div>

<!--
  specific generic info for medical center
-->
<div *ngIf="visibilityStatusAmbulanceService" class="row">
  <app-ambulance-service-center *ngIf="selectedFacility"
                                       [facility]="selectedFacility" [ambulanceService]="ambulanceService"></app-ambulance-service-center>
</div>

<div *ngIf="visibilityStatusEmergencyContacts" class="row">
  <app-emergency-contacts-center *ngIf="selectedFacility"
               [facility]="selectedFacility" [emergencyContacts]="emergencyContacts"></app-emergency-contacts-center>
</div>

<div *ngIf="visibilityStatusMedicine" class="row">
  <app-medicine-center *ngIf="selectedFacility"
               [facility]="selectedFacility" [medicine]="medicine"></app-medicine-center>
</div>

<div *ngIf="visibilityStatusSpecialist" class="row">
  <app-specialist-center *ngIf="selectedFacility"
               [facility]="selectedFacility" [specialist]="specialist"></app-specialist-center>
</div>
<!--
  specific generic info for transportation system
-->
<div *ngIf="visibilityStatusTransportationInfo" class="row">
  <app-transportation-info-center *ngIf="selectedFacility"
                         [facility]="selectedFacility" [transportationInfo]="transportationInfo"></app-transportation-info-center>
</div>
