<hr style="background-color: green" />
<hr style="background-color: green" />

<div class="row">
  <div class="col-sm-9">

    <div *ngIf="!hideNewGenericObject">
      <h2>New Transportation Info</h2>
      <form #form="ngForm" (ngSubmit)="onSubmitNewGenericObject(form.value)" class="well">
        <div class="form-group">
          <label>Transportation Info Identifier</label>
          <input type="text" class="form-control" required name="facilitiesTransportationInfoIdentifier" ngModel>
        </div>
        <div class="form-group">
          <label>Schedule</label>
          <input type="text" class="form-control" required name="facilitiesTransportationInfoSchedule" ngModel>
        </div>
        <div class="form-group">
          <label>Route</label>
          <input type="text" class="form-control" required name="facilitiesTransportationInfoRoute" ngModel>
        </div>
        <div class="form-group">
          <label>Destination</label>
          <input type="text" class="form-control" required name="facilitiesTransportationInfoDestination" ngModel>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
      </form>

    </div>

    <app-transportation-info-details *ngIf="selectedGenericObject"
                       (updatedGenericObjectEvent)="onUpdateGenericObjectEvent($event)"
                       (deletedGenericObjectEvent)="onDeleteGenericObjectEvent($event)"
                       [transportationInfo]="selectedGenericObject"></app-transportation-info-details>
  </div>
  <div class="col-sm-3">
    <button type="button" (click)="onCreateGenericObjectEvent()" class="btn btn-primary"> + New Transportation Info</button>
    <app-transportation-info-list (selectedGenericObject)="onSelectGenericObjectEvent($event)" [transportationInfo]="transportationInfo"></app-transportation-info-list>
  </div>
</div>
